.layer-toggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: white;
  padding: 0.5em;
  z-index: 10;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  min-width: 10em;
  font-size: 14px;
  color: #666666;
}

.layer-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.caret {
  transition: transform 0.3s ease;
}

.caret.open {
  transform: rotate(180deg);
}

